body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-lato: Lato;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-45xl-5: 64.5px;
  --font-size-94xl-2: 113.2px;

  /* Colors */
  --color-gray-100: #1b1a21;
  --color-gray-200: rgba(255, 255, 255, 0.3);
  --color-gray-300: rgba(13, 12, 17, 0.1);
  --color-white: #fff;

  /* Gaps */
  --gap-6xs-6: 6.6px;

  /* Paddings */
  --padding-26xl: 45px;
  --padding-11xl: 30px;
  --padding-9xs-3: 3.3px;
  --padding-base: 16px;
  --padding-9xl: 28px;
}
