.a {
  position: absolute;
  top: 0;
  left: 5px;
}
.a,
.i1,
.today {
  line-height: 93.93px;
  text-transform: uppercase;
}
.i1 {
  position: absolute;
  top: 0;
  left: 93.48px;
}
.today {
  left: 170px;
  display: flex;
  align-items: center;
  width: 738px;
}
.ommorow,
.spanword3,
.today {
  position: absolute;
  top: 0;
}
.spanword3 {
  left: 16px;
  width: 650.86px;
  height: 93.92px;
  overflow: hidden;
}
.ommorow {
  left: 70px;
  line-height: 93.93px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 717px;
}
.spanword4 {
  position: absolute;
  top: 101.14px;
  left: 110.95px;
  width: 907px;
  height: 94px;
  overflow: hidden;
}
.a1,
.d,
.n1 {
  position: absolute;
  top: -0.14px;
  left: 105.05px;
  line-height: 93.93px;
  text-transform: uppercase;
  -webkit-text-stroke: 2.1px #000;
  color: transparent;
}
.d,
.n1 {
  top: 0;
  left: 192.27px;
}
.d {
  left: 266.45px;
}
.beyond,
.spanword5 {
  position: absolute;
  text-align: right;
}
.spanword5 {
  width: calc(100% + 143px);
  top: 208px;
  right: -105px;
  left: -38px;
  height: 94px;
  overflow: hidden;
}
.beyond {
  top: 315px;
  left: 37px;
  line-height: 93.93px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  width: 714px;
  -webkit-text-stroke: 2.1px #000;
  color: transparent;
}
.text {
  position: relative;
  width: 100%;
  height: 462px;
  text-align: left;
  font-size: var(--font-size-94xl-2);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
