:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  
  .btn-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto 35px;
  }
  .btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* margin: 0 25px 15px; */
    margin: 0 0 15px;
    min-width: 150px;
  }
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }
  /*--- btn-2 ---*/
  .btn-2::before {
    /* background-color: rgb(28, 31, 30); */
    background-color: #fff;
    transition: 0.3s ease-out;
  }
  .btn-2 span {
    /* color: rgb(28, 31, 30); */
    color: #fff;
    /* border: 1px solid rgb(28, 31, 30); */
    border: 1px solid #fff;
    transition: 0.2s;
    width: 150px;
  }  
  .btn-2 span:hover {
    color: rgb(28,32,30);
    transition: 0.2s 0.1s;
  }
  
  /* 9. hover-slide-right */
  .btn.hover-slide-right::before {
    top: 0; bottom: 0; left: 0; 
    height: 100%; width: 0%;
  }
  .btn.hover-slide-right:hover::before {
    width: 100%;
  }
  